
Doku/Bericht/main.aux
Doku/Bericht/main.bbl
Doku/Bericht/main.bcf
Doku/Bericht/main.blg
Doku/Bericht/main.lof
Doku/Bericht/main.log
Doku/Bericht/main.out
Doku/Bericht/main.pdf
Doku/Bericht/main.synctex.gz
Doku/Bericht/main.toc
*.aux
*.bbl
*.lof
*.log
*.lof
*.blg
*.bbl
*.aux
*.gz
*.toc
